body {
  font-family:monospace;
  padding:0; margin:0;
}

.cover {
  max-height:100vh;
  animation: 3s ease-in 1.5s reverse both running slidein;
}
.cover h1,
.height span b,
.full span b
 {
  position: absolute;
  z-index: 1;
  margin:0; padding:0;
  top: 50%; left: 50%;
}
.cover h1 {
  font-size:3vw;
  pointer-events: none;
  user-select: none;
  animation: 3s ease-in 1.5s reverse both running fontout;
}
.height span b,
.full span b
 {
  font-size:1.25vw;
}
h1 u {
  font-size:75%;
  display:inline-block;
  padding:2.5vw 0;
}
iframe {
  position: absolute;
  z-index: 0;
  top:0; left:0;
  width:100%;
  height:100%;
  border: none;
}

@keyframes slidein {
  from {height: 55vw; max-height:100vh;}
  to   {height: 100vh;}
}
@keyframes fontout {
  from {
  -webkit-transform:translate(-50%,-50%) scale(1, 1.5);
  transform:translate(-50%,-50%) scale(1, 1.5);
  }
  to   {
  -webkit-transform:translate(-50%,-50%) scale(1,2.5);
  transform:translate(-50%,-50%) scale(1,2.5);
  }
}

.cover,
.height span,
.full span,
.wide {
  position: relative;
  clear:both;
  padding:0;
  margin:0;
  width:100%;
}
.cover {
  height:55vw;
}
.wide {
  font-family:monospace;
}
.wide h1 {
  font-size:4.5vw;
  margin:0; padding:2.5vw;
}
.wide p {
  position: relative;
  z-index: 1;
  font-size:2.5vw;
  margin:0; padding:2.5vw;
}
.wide p span {
  font-size:55%;
  margin:0; padding:1.25vw;
  border: 0.125vw solid;
  display: block;
  background-color: rgba(255,255,255,0.75);
}
.wide a {
  color: blue;
  font-weight:900;
  border-bottom:0.25vw dotted #000;
  text-decoration:none;
}
.wide a:hover {
filter: invert(0.95);
}
.wide h1 a {
  font-size:200%;
}
.cover .left,
.cover .right {
  font-size:2vw;
  padding:1.25vw;
}
.cover .left {
  float:left;
  text-align:left;
}
.cover .right {
  float:right;
  text-align:right;
}
.square {
  float:left;
  width:50%;
  height:50vw;
  margin:0; padding:0;
}
.height {
  float:left;
  width:50%;
  margin:0; padding:0;
}
.double {
  display:block;
  width:100%;
  height:75vw;
  margin:0; padding:0;
}
.triple {
  display:block;
  width:100%;
  height:50vw;
  margin:0; padding:0;
}

.height span,
.full span,
.wide {
  background-position: center;
  background-repeat: no-repeat;
}
.triple,
.square,
.double,
.cover,
.wide {
  background-size: cover;
}
