
body {margin:0; padding:0;}
ol {padding:0; margin:0;}
li {list-style:none;}
hr {border:hidden; margin-bottom:5%;}


.is-hide,
.nothing,
.none {
  display:none;
  transition:.5s all;
}
#org {
  margin:auto;
}
#org {
  position:relative;
  top:0;
}
#org ol {
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
#org .type .label {
  display: inline-block;
  text-shadow:0.1rem 0.1rem #fff;
  margin:0.5rem;
  padding:0.5rem 1rem;
  font-size:2.5rem;
  color: #000;
  transition:1.5s all;
}
#org .tag .label {
  display: inline-block;
  background-color:#fff;
  text-shadow:0.1rem 0.1rem #fff;
  margin:0.25rem;
  padding:0.5rem 0.5rem 0;
  font-size:1.25rem;
  color: #000;
  border-radius:0.5rem;
  transition:1.5s all;
}
#org .label:hover {
  cursor:pointer;
  color:#fff;
  background-color:#eee;
  text-shadow:0.1rem 0.1rem #000;
  transition:.5s all;
}
#org input[type="text"],
#org textarea {
  font-size:1rem;
  border:1px solid;
  border-radius:0.5rem;
  padding:1.25%; margin:1.25%;
}
#org input[type="text"] {
  width:95%;
}
#org textarea {
  height:10rem;
  width:95%;
}
#org input[type="checkbox"],
#org input[type="radio"] {
  display: none;
}
#org input[type="checkbox"]:checked + label,
#org input[type="radio"]:checked + label {
  color:#fff;
  background-color:#eee;
  text-shadow:0.1rem 0.1rem #000;
}
#org b {
  font-size:200%;
}
.reset a, .reset-button, button {
  display:block;
  font-size:1.5rem;
  text-align:center;
  padding:0.5rem 0;
  margin: 1rem 0;
  background: #fff;
  text-shadow:0.1rem 0.1rem #fff;
  cursor: pointer;
  border:1px solid #000;
  border-radius:0.5rem;
  width:100%;
  transition:1s all;
}
.reset a:hover,
.reset-button:hover,
button:hover {
  color:#fff;
  background:#eee;
  text-shadow:0.1rem 0.1rem #000;
  transition:.5s all;
}

.list {
	position:relative;
	width:95%;
	margin:auto;
  display: flex;
  align-content:flex-start;
  flex-direction:row-reverse;
  flex-wrap: wrap-reverse;
	clear:both;
}
.list li {
  top:0;
  width:95vw; max-width:30rem;
	padding:1rem;
  margin:1rem auto;
	position:relative;
	border:0.1rem solid #000;
  border-radius:1rem;
	background-color:rgba(255,255,255,0);
  transition: all 500ms ease;
	box-sizing: border-box;
}
.list li:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1,1.25);
	background-color:rgba(255,255,255,1);
  transition: all 1000ms ease;
}
.list li .title {
	font-size:1.5rem;
}
.list li .value {
  position:absolute;
	right:0;
  z-index:10;
	font-size:2rem;
  pointer-events:none;
  line-height:75%;
  padding:0 0.5rem;
  text-shadow:0.1rem 0.1rem #fff;
}
.value .amazing::after {content: "*****";}
.value .great::after {content: "****";}
.value .okay::after {content: "***";}
.value .bad::after {content: "**";}
.value .awful::after {content: "*";}
.value .wanttovisit::after {content: "want to visit"; zoom:0.45;}

.list li .comment {
	font-size:1rem;
	min-height:auto;
	height:auto;
	display:block;
	padding-bottom:1rem;
  white-space:pre-wrap;
}
.list li .address {
	position:absolute;
	font-size:0.5rem;
	color:#000;
	text-decoration:none;
	background:#fff;
	padding:0.25rem;
	border-radius:0.25rem;
	box-shadow: -4px 4px 1px 1px #000;
	bottom: 1rem; right: 1rem;
}
.list li a {
	position:absolute;
	cursor:pointer;
	margin:0;
	top:0; left:0;
	width:100%; height:100%;
	text-indent:-999px;
}
.close:hover {
  cursor:pointer;
  color:#fff;
  background:#eee;
  text-shadow:0.1rem 0.1rem #000;
  transition:.5s all;
}

.submit {padding:2.5%;}

.popup {
    position:fixed;
    z-index:100;
    width:100%; height:100vh;
    top:0; left:0;
}
.popup iframe {width:100%; height:100%; border-radius:2.5vw; border:none;}
.popup p {
  position: fixed;
  background-color:rgba(255,255,255,1);
  z-index:100;
  font-size:1.25rem;
  margin:0; padding:0;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:90%; height:85%;
  top: 50%; left: 50%;
  border-radius:5vw;
}
.close {position:absolute; font-size:5vw; padding:1vh 2.5%; top:0; left:0; width: 95%; height:98vh;  background-color:rgba(0,0,0,0.5); }

@media screen and (max-width: 550px){
.popup p {width:90%; height:95%; top: 50%; left: 50%;}
.close {font-size:10vw;}
}
